* {
    text-align: center;
  }

.container {
    /* border: 1px solid blue; */
    max-width: 100vw;
    margin: 2rem;
    padding: 1em;
}

.card {
    /* border: 1px solid red; */
    background-color:#373737;
    border-radius: 1rem;
    box-shadow: 1px 1px 10px 1px rgba(187, 238, 255, 0.7);
    max-width: 60vw;
    align-items: center;
    margin: 0 auto;
    justify-items: center;
}
.title {
    color:#77aaff;
    letter-spacing: .075rem;
    font-weight: bold;
    padding: .2em;
}
.author {
    color: #99ccff;
    padding: .2em;
}
.date {
    color: #bbeeff;
    padding: .2em;
}

.text {
    color: #5588ff;
    padding: .5em;
}

.image {
    width: 500px;
}
